[Unit]
Description=Rohith Flask application
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/opt/rohithaws
Environment="PATH=/opt/rohithaws/.venv/bin"
ExecStart=/opt/rohithaws/.venv/bin/gunicorn --workers 2 --bind 127.0.0.1:8000 app:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
